#parent_div_1, #parent_div_2, #parent_div_3{
    width:200px;
    height:200px;
    border:2px solid #d1d1e0;
    margin-right:10px;
    float:left;
}
.child_div_1{
    float:left;
    margin-right:5px;
	text-align: center;
}
body {
	background-color: #f2f2f2;
}
nav {
	width: 100%;
	background: #CCCCCC;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2c9d3;
	font-size: 1.3em;
	font-family: Arial, Helvetica, sans-serif;

}

nav li {
    float: left;
	width: 12.5%;
}

nav li a {
    display: block;

    text-align: center;
    padding: 6px;
    text-decoration: none;
}

a:link {
	color: #2d000b
}
a:visited {
	color: #2d000b
}
footer {
	display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	
}
footer ul {
	list-style-type: none;
}








